@media only screen and (max-width: 768px) {
	.circle-menu i {
		font-size: 15px;
	}

	.circle-menu small {
		font-size: 10px !important;
	}

	.div-menus .col-3 {
        margin: 0;
	}
	.owl-carousel .owl-item {
	    width: 300px !important;
	}
}
